# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Statis libraries
*.lai
*.la
*.a

# Debug directory
Debug/*
Debug\*

# VS user settings
*.suo
*.user

# Misc VS files
*.opensdf
*.sdf
/ipch*
\ipch*

# XCode files
*.xccheckout
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserstate
*.moved-aside
project.xcworkspace/
xcuserdata
build/
DerivedData/
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Mac files
.DS_Store
.Trashes
*.lock
*.swp
*~.nib

# Executables
*.exe
*.app

# lwmix specific
lwmix
